commands:
  01_dev_tools:
    command: |
      sudo yum groupinstall -y "Development Tools"
      sudo yum install -y gcc-c++ make

  02_dev_libs:
    command: |
      sudo yum install -y zlib-devel bzip2 bzip2-devel readline-devel sqlite sqlite-devel openssl-devel xz xz-devel libffi-devel
      sudo yum install -y gcc gcc-c++ kernel-devel
      sudo yum install -y libstdc++-devel
  
  03_gcc_alternatives:
    command: sudo alternatives --set gcc "/usr/bin/gcc48"
