# Install Development Tools and Libraries
commands:
  01_dev_tools:
    command: sudo yum groupinstall -y "Development Tools"
  02_dev_libs:
    command: sudo yum install -y gcc gcc-c++ make autoconf libtool

# Custom pip installation script
files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      set -e  # Exit script on error
      source /opt/python/run/venv/bin/activate
      
      echo "Installing required pip packages..."
      pip install --no-cache-dir beautifulsoup4==4.7.1 boto3==1.9.86 Werkzeug==0.14.1 requests matplotlib
      
      # Install fastText
      echo "Cloning and installing fastText..."
      git clone https://github.com/facebookresearch/fastText.git || { echo "Git clone failed"; exit 1; }
      cd fastText
      pip install . || { echo "FastText installation failed"; exit 1; }

commands:
  03_execute_pip_script:
    command: "/tmp/pipInstallation.sh"
    ignoreErrors: false
    cwd: "/tmp"
    test: test -f /opt/python/run/venv/bin/activate  # Ensures that virtualenv exists before running the script

# WSGI Apache Configuration
files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "0644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
