files:
  "/tmp/pipInstallation.sh":
    mode: "0755"  # Only needed permissions
    owner: root
    group: root
    content: |
      #! /bin/bash
      set -e  # Exit script on any error
      source /opt/python/run/venv/bin/activate
      echo "Installing dependencies..."
      pip install beautifulsoup4==4.7.1 boto3==1.9.86 Werkzeug==0.14.1
      
      echo "Cloning FastText repository..."
      git clone https://github.com/facebookresearch/fastText.git
      
      cd fastText
      pip install .  # Installing the fastText library

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"
