files:
 “/tmp/pipInstallation.sh”:
 mode: “000777”
 owner: root
 group: root
 content: |
 #! /bin/bash
 source /opt/python/run/venv/bin/activate
 pip install beautifulsoup4==4.7.1
 pip install boto3==1.9.86

 pip install Werkzeug==0.14.1
 git clone https://github.com/facebookresearch/fastText.git
 cd fastText
 pip install .

commands:
 01_execute:
 command: “/tmp/pipInstallation.sh”